@media screen and (max-width: 480px) {
    /* HEADER */
    div.logo h1 {
        padding-left: 25px;
    }

    ul.redes-sociais {
        padding-right: 25px;
    }

    div.header-2 {
        padding: 15px 0px;
    }  

    nav {
        min-width: 300px;
    }

    ul.menu-navegacao {
        margin: 0px 4.5%;
    }

    ul.menu-navegacao > li {
        display: inline-block;
        padding: 10px 10px;
    }

    ul.menu-navegacao > li:first-child {
        padding-left: 10px;
    }


    /* SECTION IMAGENS "PC-LÃPIS-FOTO */

    section#trio_imagens > p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }

    
    /* SECTION 1 */
    .colunas {
        margin-bottom: 0px;
    }

    section#trio_imagens {
        min-width: 300px;
    }

    #imagem-centro {
        position: static;
    }

    .colunas li {
        display: block;
        width: 100%;
    }


    /* SECTION 2 */
    .bloco-imagens-textos {
        margin-top: 0px;
    }

    ul.imagens-textos {
        padding: 0;
        margin: 5% 4%;
    }

    ul.imagens-textos li {
        display: block;
        width: 50%;
        padding-bottom: 30px;
    }
    


    /* LOGOS */
    section#logos {
        min-width: 300px;
    }

    section#logos img {
        margin: 20% auto;
        display: block;
        width: 60%;
        padding: 0;
    }

    section#logos img:nth-child(4) {
        margin-bottom: 26%;
    }
    

    /* FOOTER */

    #textos-footer hr {
        width: 40%;
    }

    ul#textos {
        max-width: 1200px;
    }

    #textos-footer li {
        display: block;
        
    }


    #copyright .conteudo {
        min-width: 300px;
        padding: 20px;
    }


    ul.copyright-redessociais {
       display: none;
    }
    

    #copyright p {
        display: block;
        width: 300px;
        line-height: 17px;
    }
}